@media (min-width: 0px) and (max-width:575.9px) {

    /* this is for contact.html */
    #contact_main {
        margin-top: 40px;
        padding-bottom: 20px;
    }

    #right_part {
        padding: 0px;
    }

    #contact {
        padding: 0px;
    }

    #contact_form {
        grid-template-columns: repeat(1, 1fr);
    }

    #contact_and_map .contact_info {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    #contact_and_map .contact_info .contact_info_des {
        padding: 3px;
    }

    #contact_and_map .contact_info .contact_info_des h3 {
        font-size: 14px;
        line-height: 24px;
        padding: 11px 0;
    }

    #contact_main {
        width: 100vw;
    }

    #right_part {
        height: auto;
    }

    /* this is for blog.html  */
    .blog_list {
        grid-template-columns: repeat(1, 100vw);
    }

    #right_part .main_container .container {
        width: 100vw;
    }

    /* this is for portfolio.html  */
    .portfolio_pic {
        grid-template-columns: repeat(1, 1fr);
    }

    /* this is for resume.html  */
    #right_part .main_container .container .resume .resume_des {
        grid-template-columns: repeat(1, 1fr);
    }

    .resume_bottom .certificates {
        grid-template-columns: repeat(1, 1fr);
    }

    /* this is for index.html  */
    .Main_contant_1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .Main_contant .Main_contant_1 .details p {
        width: 95vw;
        text-align: justify;
    }

    .right_pic .img img {
        width: 312px;
        position: unset;
    }

    #counter_part .counter_list {
        grid-template-columns: repeat(2, 1fr);
    }

    #what_i_do .what_i_do_items {
        grid-template-columns: repeat(1, 1fr);
    }

    #testimonials .testimonials_items {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* this is for nav bar  */
@media (min-width:0px) and (max-width:767.9px) {
    main {
        padding: 6px;
        height: 100vh;
        width: 100vh;
        margin-top: 35px;
        overflow-y: unset;
        overflow-x: hidden;
    }

    #main_body .left_side_info {
        display: none;
    }

    #top_part {
        display: flex;
    }

    nav.active {
        right: 0;
    }

    nav header {
        display: block;
        color: white;
    }

    nav {
        position: fixed;
        right: -100vw;
        top: 55px;
        background-color: rgba(0, 0, 0, 0.829);
        width: 200px;
        height: calc(100vh - 55px);
        text-align: left;
        padding-left: 10px;
        transition-duration: 0.5s;
        overflow-y: scroll;
    }

    nav>ul li a i {
        color: white;
        font-size: 20px;
        width: 30px;
    }

    nav>ul li a span {
        display: inline-block;
        color: white;
    }
}

@media (min-width: 576px) and (max-width:767.9px) {

    /* this is for contact.html  */
    #right_part .main_container {
        height: 100vh;
        width: 100vw;
    }

    #right_part .main_container .container {
        width: 100vw;
    }

    #right_part {
        padding: 20px 50px 50px 0px;
        width: 100vw;
    }

    #contact_and_map .contact_info {
        grid-template-columns: repeat(2, 1fr);
    }

    #contact_and_map .contact_info .contact_info_des {
        padding: 10px;
    }

    #contact {
        padding: 10px 0px;
    }

    #contact_form {
        grid-template-columns: repeat(1, 1fr);
    }

    #contact_form .inputs .input_group {
        width: 100vw;
    }

    /* this is for resume.html  */
    #right_part .main_container .container .resume .resume_des {
        grid-template-columns: 1fr;
    }

    /* this is profile.html  */
    .Main_contant_1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .right_pic .img img {
        width: 406px;
        top: 0px;
        left: 164px;
    }
}

@media (min-width: 768px) and (max-width:991.9px) {
    /* this is for contact.html  */
    
}

@media (min-width: 992px) and (max-width:1199.9px) {}

@media (min-width: 1200px) and (max-width:1399.9px) {}

@media (min-width: 1400px) {}