/* this is for contact.html */

@media (min-width: 0px) and (max-width:575.9px) {
    #contact_main {
        margin-top: 40px;
        padding-bottom: 20px;
    }

    #right_part {
        padding: 0px;
    }
    #top_part{
        display: flex;
    }
    nav.active {
        right: 0;
    }

    nav {
        /* display: none; */
        position: fixed;
        right: -100vw;
        top: 55px;
        background-color: rgba(0, 0, 0, 0.829);
        width: 150px;
        height: 100vh;
        text-align: left;
        padding-left: 10px;
        transition-duration: 0.5s;
    }

    nav ul li a i {
        color: white;
        font-size: 20px;
        width: 30px;
    }

    nav ul li a span {
        display: inline-block;
        color: white;
    }

    #main_body .left_side_info {
        display: none;
    }

    #contact {
        padding: 0px;
    }

    #contact_form {
        grid-template-columns: repeat(1, 1fr);
    }

    main {
        padding: 6px;
        height: 100vh;

    }

    #contact_and_map .contact_info {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    #contact_and_map .contact_info .contact_info_des {
        padding: 3px;
    }

    #contact_and_map .contact_info .contact_info_des h3 {
        font-size: 14px;
        line-height: 24px;
        padding: 11px 0;
    }

    #contact_main {
        width: 100vw;
    }

    #right_part {
        height: auto;
    }
}

@media (min-width: 576px) and (max-width:767.9px) {}

@media (min-width: 768px) and (max-width:991.9px) {}

@media (min-width: 992px) and (max-width:1199.9px) {}

@media (min-width: 1200px) and (max-width:1399.9px) {}

@media (min-width: 1400px) {}