.portfolio_pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  
}

.portfolio_pic .gallery {
    /* border: 1px solid blue; */
    position: relative;
    overflow: hidden;
    
}

/* .portfolio_pic .gallery .img {} */

.portfolio_pic .gallery:hover .img img {
    transform: scale(1.1) rotate(10deg);
    
}

.portfolio_pic .gallery .img img {
    max-width: 100%;
    transition-duration: 0.3s;
    
}

.portfolio_pic .gallery:hover .overlay a {
    opacity: 1;
}
.portfolio_pic .gallery .overlay  {
    opasity:1;
}
.portfolio_pic .gallery .overlay a {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.543);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left:0px;
    opacity: 1;
    transition-duration: 0.3s;
}

/* .portfolio_pic .gallery .overlay:hover a {} */

.portfolio_pic .gallery .overlay a {
  color: var(--white);
position: relative;

}

.portfolio_pic .gallery:hover .overlay a p {
    left: 20px;
    opacity: 1;
}

.portfolio_pic .gallery .overlay a p {
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
    position: absolute;
    bottom: 10px;
    right: 0px

}
.portfolio_pic .gallery .overlay a p span {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    padding-right: 10px;

}

.portfolio_pic .gallery:hover .overlay a h3 {
    right: 15px;
    opacity: 1;
}
.portfolio_pic .gallery .overlay a h3 {
    width: 100%;
    border: 1px solid red;
    font-size: 15px;
    line-height: 25px;
    font-weight: 200;
    position: absolute;
    top: 10px;
    right: 50px;
    /* transition-delay: 1s; */
    opacity: 1;
}