#contact{
    padding: 10px 100px;
}
#contact_form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}
#contact_form .inputs{
    border: 1px solid blue;
}
#contact_form .comments{
    border: 1px solid blue;
}