#contact_main{
    background-color: #d4d2d224 ;
}
#contact {
    padding: 10px 100px;
}

#contact_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    gap: 30px;
}

#contact_form .inputs .input_group {
    padding: 10px 0px;
    /* margin-right: 10px; */

}

#contact_form .inputs .input_group input {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 90%;
    height: 35px;
    box-shadow:  -3px -3px 20px #ababab80,
                 3px 3px 20px rgba(171, 171, 171, 0.477);

    padding: 10px;
}

/* #contact_form .inputs button {} */
#contact .contact_button button {
    border-radius: 10px;
    margin-top: 20px;
    color: var(--white);
    background-color: var(--brand_color_deep);
    padding: 15px 10px;
    width: 200px;
    font-size: 16px;
    box-shadow: 2px 5px 5px rgba(54, 118, 236, 0.34);
    cursor: pointer;
    outline: 0px;
    border: 0;
}

/* #contact_form .comments {
    border: 1px solid blue;} */
#contact_form .comments textarea {
    width: 260px;
    height: 120px;
    border-radius: 10px;
    border: 0;
    padding: 20px;
    margin-top: 12px;
    box-shadow: inset -3px -3px 20px #ababab80,
                inset 3px 3px 20px rgba(171, 171, 171, 0.477);
}