#right_part {
    background-color: var(--white_transperent);
    height: 100vh;
    width: 100%;
    padding: 50px 50px 50px 0px;
    
}

#right_part .main_container {
    background-color: var(--white);
    height: 100%;
    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.488);
    
}

#right_part .main_container .container {
    display: flex;
}

nav {
    width: 80px;
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 40px;
}

nav ul li {
    padding:  10px  ;
}

nav ul li a {
    color: rgba(6, 150, 216, 0.381);

}

nav ul li i {
    font-size: 25px;
}

nav ul li a:hover {
    color: var(--brnad_color_deep);
}


main {
    padding: 50px;
    flex: 1;
    overflow-y:scroll ;
    overflow-x: hidden;
    height: calc(100vh - 210px);
}
.Main_contant_1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* border: 1px solid red; */
   
   
}
.Main_contant .Main_contant_1 .details{
    padding-top: 40px;
}
.Main_contant .Main_contant_1 .details h4{
    color: #55555a5a;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 10px;
}
.Main_contant .Main_contant_1 .details h2{
    text-transform: capitalize;
    font-size: 40px;
    line-height: 30px;
    padding-bottom: 20px;
}
.Main_contant .Main_contant_1 .details p{
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.655);
}
.Main_contant .Main_contant_1 ul{
    display: flex;
    gap: 20px;
    text-transform: capitalize;

}
.Main_contant .Main_contant_1 ul li .green_btn {
    border: 2px solid #56b887;
    background-color: #56b887;
    border-radius: 10px;
    padding: 8px 30px;
    color: var(--white);
    margin-top: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.488);
}
.Main_contant .Main_contant_1 ul li .green_btn:hover{
    border: 2px solid #56b887;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 8px 30px;
    color: var(--black);
    margin-top: 20px;
}
.Main_contant .Main_contant_1 ul li .white_btn {
    border: 2px solid #6d706f5a;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 8px 30px;
    color: var(--black);
    margin-top: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.488);
}
.Main_contant .Main_contant_1 ul li .white_btn:hover{
    border: 2px solid #6d706f5a;
    background-color: #6d706f5a;
    border-radius: 10px;
    padding: 8px 30px;
    color: var(--white);
    margin-top: 20px;
}
.right_pic .img img {
    width: 400px;
    /* border: 1px solid red; */
    clip-path: circle(60.9% at 63% 38%);
    position: relative;
    top: -50px;
    right: -50px;
    
}